<template>
  <section class="section" id="nav">
    <b-navbar toggleable="sm" type="dark" variant="dark" id="navbar">
      <b-navbar-brand tag="h1" class="mb-0" to="/">
      <b-icon icon="house-fill"></b-icon> Django-Vue-CRUD</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav align="center">
          <!--<b-nav-item>
            <router-link v-if="loginOptions()" to="/" class="nav-item nav-link">
              <b-icon icon="house-fill"></b-icon> Dashboard
            </router-link>
          </b-nav-item>-->
          <b-nav-item>
            <router-link v-if="loginOptions()" to="/posts" class="nav-item nav-link">Posts</router-link>
          </b-nav-item>
           <b-nav-item>
            <router-link v-if="loginOptions()" to="/users" class="nav-item nav-link">Users</router-link>
          </b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item v-if="loginOptions()">
            <router-link
              v-if="loginOptions()"
              to="/create"
              class="btn btn-warning btn-sm"
            >Create a post</router-link>
          </b-nav-item>

          <b-nav-item-dropdown right v-if="loginOptions()" class="btn btn-sm">
            <template v-slot:button-content>
              <em>
                <b-icon icon="people-circle"></b-icon>
                 {{ username }}
              </em>
            </template>
            <b-dropdown-item v-b-modal.settings>
              <b-icon icon="gear-fill"></b-icon> Settings
            </b-dropdown-item>
            <b-modal id="settings" title="Settings" hide-footer>
              <b-card-group deck>
                <b-card no-body header="Users">
                  <b-list-group>
                    <b-list-group-item button @click="modalShow = !modalShow">
                      <router-link to="/signin">Register new user</router-link>
                    </b-list-group-item>
                    <b-list-group-item button @click="modalShow = !modalShow">
                      <router-link :to="`/edit-user/${userid}`">Edit my profile</router-link>
                    </b-list-group-item>
                  </b-list-group>
                </b-card>
              </b-card-group>
            </b-modal>
            <!--<b-dropdown-item>
              <router-link to="/signin">Register user</router-link>
            </b-dropdown-item>-->
            <b-dropdown-item @click="logout">
              <b-icon icon="box-arrow-in-right"></b-icon> Logout
            </b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item v-else>
            <router-link to="/login" class="btn btn-secondary">Login</router-link>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view />
  </section>
</template>

<script>
export default {
  data () {
    return {
      userid: null,
      modalShow: false,
      username: '',
      show: Boolean,
      login: Boolean,
      error: true
    }
  },
  updated () {
    if (this.loginOptions()) {
      this.userid = window.localStorage.getItem('userid')
      this.username = window.localStorage.getItem('username')
    }
  },
  methods: {
    loginOptions () {
      if (window.localStorage.getItem('username')) {
        this.show = true
      } else {
        this.username = window.localStorage.getItem('username')
        this.show = false
      }
      return this.show
    },
    async logout () {
      await this.$axios.get('/api/auth/logout/')
      localStorage.removeItem('username')
      localStorage.removeItem('userid')
      localStorage.removeItem('userfullname')
      document.cookie = 'csrftoken' + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;'
      document.cookie = 'sessionid' + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;'
      this.$router.replace('/login')
      this.show = false
    },
    loginButton () {
      if (window.localStorage.getItem('username')) {
        this.login = false
      } else {
        this.login = true
      }
      return this.login
    }
  }
}
</script>

<style lang="css">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#navbar {
  margin-bottom: 30px;
}
</style>
