<template>
  <b-container v-if="loggedUser()" fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="error" @dismissed="error=false" :message="error_message" :alert_type="variant" />
      </b-col>
    </b-row>
    <b-row v-if="selectedPosts.length > 0" style="margin-bottom:10px;">
      <b-col>
        <b-button
          v-on:click="publishAll()"
          variant="primary"
          class="options-button"
        ><b-icon icon="check-all"></b-icon> Publish</b-button>
        <b-button
          v-on:click="draftAll()"
          variant="secondary"
          class="options-button"
        ><b-icon icon="pencil"></b-icon> Draft</b-button>
        <b-button
          v-on:click="deletePosts()"
          variant="danger"
          class="options-button"
          :pressed="error"
        ><b-icon icon="person-dash-fill"></b-icon> Delete</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col">Autor</th>
              <th scope="col">Status</th>
              <th scope="col">Last Update</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody v-for="(post, i) in posts" :key="i">
            <tr>
              <td>
                <input type="checkbox" :id="post.id" :value="[post.id, post.author.fullname, post.status]" v-model="selectedPosts" />
              </td>
              <td>{{ post.title }}</td>
              <td>{{ post.author.fullname }}</td>
              <td>{{ postStatus(post.status) }}</td>
              <td>{{ new Date(post.update_at).toLocaleDateString('en-GB', { timeZone: 'UTC' }) }}</td>
              <td>
                <b-button :to="`/post/${post.id}`" size="sm" variant="outline-primary" class="options-button">Open</b-button>
                <b-button :to="`/edit/${post.id}`" size="sm" variant="outline-warning" class="options-button">Edit</b-button>
                <b-button v-on:click="deletePost(post.id, true)" size="sm" variant="outline-danger" class="options-button">Delete</b-button>
                <b-dropdown
                  id="dropdown-right"
                  right
                  text="More options"
                  variant="outline-secondary"
                  size="sm"
                  class="options-button"
                >
                  <b-dropdown-item v-if="post.status==='FI'" v-on:click="draft(post.id, true)">Draft this</b-dropdown-item>
                  <b-dropdown-item v-else v-on:click="publish(post.id, true)">Publish this</b-dropdown-item>
                </b-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </b-container>
  <b-container v-else class="bv-example-row">
      <b-row>
        <b-col sm="12">
          <Error :show="true" :message="error_message" />
        </b-col>
      </b-row>
    </b-container>
</template>

<script>
import Error from '@/components/ErrorWarning'

export default {
  name: 'AllPosts',
  components: { Error },
  data () {
    return {
      posts: [],
      current: '/api/posts/',
      login: Boolean,
      error_message: '',
      error: false,
      variant: '',
      options: [{ value: 'ED', text: 'Rascunho' }, { value: 'FI', text: 'Publicado' }],
      selectedPosts: []
    }
  },
  updated () {
    if (this.selectedPosts.length > 0) {
      if (this.selectedPosts.find(element => element[1] !== window.localStorage.getItem('userfullname'))) {
        this.warningMessage('Você não tem permissão para agir sob ou mais postagens selecionadas.', 'danger')
      } else {
        this.error = false
      }
    } else {
      this.error = false
    }
  },
  methods: {
    loggedUser () {
      if (window.localStorage.getItem('username')) {
        this.login = true
      } else {
        this.login = false
        this.error_message = 'Você não tem autorização de acesso à esta área'
      }
      return this.login
    },
    publish (id, show) {
      this.$axios
        .patch(this.current + id, { status: 'FI' })
        .then(res => {
          if (show) {
            this.getPosts()
          }
        })
        .catch(({ response }) => {
          if (show) {
            this.warningMessage(response.statusText, 'danger')
          }
        })
    },
    publishAll () {
      this.selectedPosts.forEach(element => {
        this.publish(element[0], false)
      })
      location.reload()
    },
    draft (id, show) {
      this.$axios
        .patch(this.current + id, { status: 'ED' })
        .then(res => {
          if (show) {
            this.getPosts()
          }
        })
        .catch(({ response }) => {
          if (show) {
            this.warningMessage(response.statusText, 'danger')
          }
        })
    },
    draftAll () {
      this.selectedPosts.forEach(element => {
        this.draft(element[0], false)
      })
      location.reload()
    },
    postStatus (key) {
      for (let i = 0; i < this.options.length; i++) {
        if (this.options[i].value === key) {
          return this.options[i].text
        }
      }
      return 'Undefined'
    },
    async getPosts () {
      await this.$axios
        .get(this.current)
        .then(res => {
          this.posts = res.data
        })
        .catch(({ response }) => {
          this.warningMessage(response.statusText, 'danger')
        })
    },
    deletePost (id, show) {
      this.$axios.delete(this.current + id)
        .then(async res => {
          if (show) {
            this.warningMessage('Postagem apagada com sucesso', 'success')
            await this.sleep(800)
          }
          this.getPosts()
        }
        )
        .catch(({ response }) => {
          this.warningMessage(response.statusText, 'danger')
        })
    },
    deletePosts () {
      this.selectedPosts.forEach(element => {
        this.deletePost(element[0], false)
      })
      this.warningMessage('Postagens apagada com sucesso', 'success')
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    warningMessage (errorStatus, typeMessage) {
      this.error_message = errorStatus
      this.variant = typeMessage
      this.error = true
    }
  },
  created () {
    this.getPosts()
  }
}
</script>
<style scoped>
.options-button {
  margin-right: 3px;
}
</style>
