<template>
  <b-container v-if="loggedUser()" fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="error" @dismissed="error=false" :message="error_message" :alert_type="variant" />
      </b-col>
    </b-row>
    <b-row v-if="selectedUsers.length > 0" style="margin-bottom:10px;">
      <b-col>
        <b-button
          v-on:click="makeAdmins()"
          variant="primary"
          class="options-button"
        ><b-icon icon="star-fill"></b-icon> Make admin</b-button>
        <b-button
          v-on:click="removeAdmins()"
          variant="secondary"
          class="options-button"
        ><b-icon icon="star"></b-icon> Remove admin</b-button>
        <b-button
          v-on:click="deleteUsers()"
          variant="danger"
          class="options-button"
        ><b-icon icon="person-dash-fill"></b-icon> Delete</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">E-mail</th>
              <th scope="col">Função</th>
              <th scope="col">Admin</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody v-for="(user, i) in users" :key="i" id="all-users">
            <tr>
              <td>
                <input type="checkbox" :id="user.id" :value="user.id" v-model="selectedUsers" />
              </td>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ getRole(user.profile.role, 'name') }}</td>
              <td>{{ admin(user.profile.is_admin) }}</td>
              <td>
                <b-button
                  :to="`/user/${user.id}`"
                  size="sm"
                  variant="outline-primary"
                  class="options-button"
                >Open</b-button>
                <b-button
                  :to="`/edit-user/${user.id}`"
                  size="sm"
                  variant="outline-warning"
                  class="options-button"
                >Edit</b-button>
                <b-button
                  v-on:click="deleteUser(user.id, true)"
                  size="sm"
                  variant="outline-danger"
                  class="options-button"
                >Delete</b-button>
                <b-dropdown
                  id="dropdown-right"
                  right
                  text="More options"
                  variant="outline-secondary"
                  size="sm"
                  class="options-button"
                >
                  <b-dropdown-item
                    v-on:click="changeRole(user.profile.role, user.id)"
                  >Change to {{ getRole(user.profile.role, 'reverse') }}</b-dropdown-item>
                  <b-dropdown-item
                    v-if="user.profile.is_admin===false"
                    v-on:click="makeAdmin(user.id)"
                  >Make admin</b-dropdown-item>
                  <b-dropdown-item
                    v-else
                    v-on:click="removeAdmin(user.id)"
                  >Remove admin</b-dropdown-item>
                </b-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </b-col>
    </b-row>
  </b-container>
  <b-container v-else fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="true" :message="error_message" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>

import Error from '@/components/ErrorWarning'
import router from '../router'

export default {
  name: 'AllUsers',
  components: { Error },
  data () {
    return {
      users: [],
      selectedUsers: [],
      login: Boolean,
      error_message: '',
      error: false,
      page: '/api/users/',
      variant: ''
    }
  },
  methods: {
    loggedUser () {
      if (window.localStorage.getItem('username')) {
        this.login = true
      } else {
        this.login = false
        this.error_message = 'Você não tem autorização de acesso à esta área'
      }
      return this.login
    },
    admin (result) {
      if (result) {
        return 'Sim'
      } else {
        return 'Não'
      }
    },
    async getUsers () {
      await this.$axios
        .get(this.page)
        .then(res => {
          this.users = res.data
        })
        .catch(({ response }) => {
          this.warningMessage(response.statusText, 'danger')
        })
    },
    deleteUser (id, show) {
      this.$axios.delete(this.page + id)
        .then(async res => {
          if (parseInt(id) === parseInt(localStorage.getItem('userid'))) {
            localStorage.removeItem('username')
            localStorage.removeItem('userid')
            localStorage.removeItem('userfullname')
            document.cookie = 'csrftoken' + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;'
            document.cookie = 'sessionid' + '=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;'
            router.replace('/login')
          } else {
            if (show) {
              this.warningMessage('Usuário deletado com sucesso', 'success')
              await this.sleep(800)
            }
            this.getUsers()
          }
        })
        .catch(({ response }) => {
          this.warningMessage(response.statusText, 'danger')
        })
    },
    async deleteUsers () {
      // Isso aqui é para que o usuário logado caso esteja entre os deletados seja deletado por último
      if (this.selectedUsers.find(element => element === localStorage.getItem('userid'))) {
        const index = this.selectedUsers.indexOf(localStorage.getItem('userid'))
        const user = this.selectedUsers.splice(index, 1)
        this.selectedUsers.push(user.shift())
      }
      this.selectedUsers.forEach(element => {
        this.deleteUser(element, false)
      })
      this.warningMessage('Usuários deletados com sucesso', 'success')
      await this.sleep(800)
    },
    updateUser (id, update) {
      this.$axios.patch(this.page + id, update)
        .then(res => {
          this.getUsers()
          location.reload()
        })
        .catch(({ response }) => {
          this.warningMessage(response.statusText, 'error')
        })
    },
    changeRole (role, id) {
      if (role === 'EDITOR') {
        this.updateUser(id, { profile: { role: 'AUTHOR' } })
      } else if (role === 'AUTHOR') {
        this.updateUser(id, { profile: { role: 'EDITOR' } })
      }
    },
    getRole (role, argument) {
      if (argument === 'reverse') {
        if (role === 'EDITOR') {
          return 'Author'
        } else if (role === 'AUTHOR') {
          return 'Editor'
        }
      } else if (argument === 'name') {
        if (role === 'EDITOR') {
          return 'Editor'
        } else if (role === 'AUTHOR') {
          return 'Autor'
        }
      }
    },
    makeAdmin (id) {
      const admin = { profile: { is_admin: true } }
      this.updateUser(id, admin)
    },
    makeAdmins () {
      this.selectedUsers.forEach(element => {
        this.makeAdmin(element)
      })
    },
    removeAdmin (id) {
      const admin = { profile: { is_admin: false } }
      this.updateUser(id, admin)
    },
    removeAdmins () {
      this.selectedUsers.forEach(element => {
        this.removeAdmin(element)
      })
    },
    editUser (id, update) {
      this.updateUser(id, update)
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    warningMessage (errorStatus, typeMessage) {
      this.error_message = errorStatus
      this.variant = typeMessage
      this.error = true
    }
  },
  created () {
    this.getUsers()
  }
}
</script>
<style scoped>
.options-button {
  margin-right: 3px;
}
</style>
