<template v-slot:cell(html)="data">
  <b-container v-if="loggedUser()" fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="error" @dismissed="error=false" :message="error_message" :alert_type="variant" />
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <h1>Edit post</h1>
        <b-form @submit="onSubmit" v-if="show">
          <b-form-group id="input-group-1" label="Title:" label-for="input-1">
            <b-form-input id="input-1" v-model="post.title" :value="post.title" required></b-form-input>
          </b-form-group>
          <!--<b-form-group id="input-group-2" label="Tags:" label-for="tags-separators">
              <b-form-tags
                input-id="tags-separators"
                v-model="post.tags"
                separator=",;"
                placeholder="{{ post.tags }}"
                no-add-on-enter
                class="mb-2"
              ></b-form-tags>
          </b-form-group>-->
          <b-form-group id="input-group-3" label="Body:" label-for="bodyPost">
            <ckeditor
              :editor="ckEditor"
              v-model="post.body"
              class="form-control"
              id="bodyPost"
              rows="6"
              :value="post.body"
            ></ckeditor>
          </b-form-group>
          <b-form-group id="input-group-4" label="Opções de publicação:" abel-for="statusPost">
            <b-form-select
              v-model="post.status"
              :options="options"
              size="sm"
              class="mt-3"
              id="statusPost"
            ></b-form-select>
          </b-form-group>
          <b-button type="submit" variant="primary" style="margin-right:10px;">Update post</b-button>
          <b-button @click="cancel" variant="danger">Cancel</b-button>
        </b-form>
        <!-- END POST AREA -->
      </b-col>
      <b-col>
        <b-card :title="post.title" header-tag="header" footer-tag="footer">
          <template v-slot:header>
            <h6 class="mb-0">Pré-visualização</h6>
          </template>
          <b-card-text v-html="post.body" style="white-space: pre-line;"></b-card-text>
          <template v-slot:footer>
            <!--<small>
                <b>Marcadores:</b>
                  {{ (post.tags).join(", ") }}
            </small>-->
          </template>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
  <b-container v-else fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="true" :message="error_message" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
import router from '../router'
import Error from '@/components/ErrorWarning'

export default {
  name: 'EditPost',
  components: { Error },
  data () {
    return {
      ckEditor: ClassicEditor,
      post: Object,
      options: [{ value: null, text: 'Escolha uma opção', disabled: true }, { value: 'ED', text: 'Rascunho' }, { value: 'FI', text: 'Publicado' }],
      show: true,
      error: false,
      error_message: '',
      login: Boolean,
      variant: ''
    }
  },
  async created () {
    await this.$axios.get('/api/posts/' + this.$route.params.id)
      .then(({ data }) => {
        this.post = data
      })
      .catch(error => {
        this.warningMessage(error.response.statusText, 'danger')
      })
  },
  methods: {
    loggedUser () {
      if (window.localStorage.getItem('username')) {
        this.login = true
      } else {
        this.login = false
        this.error_message = 'Você não tem autorização de acesso à esta área'
      }
      return this.login
    },
    async onSubmit (evt) {
      evt.preventDefault()
      await this.$axios.put('/api/posts/' + this.$route.params.id, this.post)
        .then(async res => {
          this.warningMessage('Postagem atualizada com sucesso', 'success')
          await this.sleep(800)
          router.replace('/posts')
        })
        .catch(({ response }) => {
          this.warningMessage(response.statusText, 'danger')
        })
    },
    cancel () {
      router.replace('/posts')
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    warningMessage (errorStatus, typeMessage) {
      this.error_message = errorStatus
      this.variant = typeMessage
      this.error = true
    }
  }
}
</script>
