<template>
  <div v-if="loggedUser()">
    <b-container fluid class="bv-example-row" style="margin-top:-30px;">
      <b-row align-v="stretch">
        <b-col align-self="stretch" sm="2" class="sidebarMenu">Exemplo</b-col>
        <b-col align-self="stretch" sm="10" class="mainArea">Esta mensagem só pode ser vista por quem tem login ativo.</b-col>
      </b-row>
    </b-container>
  </div>
  <div v-else>
    <b-container class="bv-example-row">
      <b-row>
        <b-col sm="12">
          <Error :show="true" :message="error_message" />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
// import Error from '@/components/ErrorWarning'

export default {
  name: 'Home',
  // components: { Error },
  data () {
    return {
      error_message: '',
      login: Boolean
    }
  },
  methods: {
    loggedUser () {
      if (window.localStorage.getItem('username')) {
        this.login = true
      } else {
        this.login = false
        this.error_message = 'Você não tem autorização de acesso à esta área'
      }
      return this.login
    }
  }
}
</script>
<style scoped>
.sidebarMenu {
  background:#eee;
  padding:1.5em;
}
.mainArea {
  padding:1.5em;
}
</style>
