<template>
  <b-container fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="error" @dismissed="error=false" :message="error_message" />
        <b-form @submit="onSubmit" v-if="show">
          <b-form-group id="input-group-1" label="Username:" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="form.username"
              required
              placeholder="Insira seu nome de usuário"
            ></b-form-input>
          </b-form-group>
          <b-form-group id="input-group-2" label="Senha:" label-for="input-2">
            <b-form-input
              type="password"
              id="input-2"
              v-model="form.password"
              required
              placeholder="Insira uma senha"
            ></b-form-input>
          </b-form-group>
          <b-button type="submit" variant="primary">Login</b-button>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from 'axios'
import router from '../router'
import Error from '@/components/ErrorWarning'

export default {
  components: { Error },
  data () {
    return {
      form: {
        username: '',
        password: ''
      },
      show: true,
      error: false,
      error_message: ''
    }
  },
  methods: {
    onSubmit (evt) {
      evt.preventDefault()
      axios
        .post('/api/auth/login/', this.form)
        .then(
          function (response) {
            console.log(response)
            window.localStorage.setItem('username', response.data.user.username)
            window.localStorage.setItem('userid', response.data.user.id)
            window.localStorage.setItem('userfullname', response.data.user.profile.fullname)
            router.replace('posts')
          }
        )
        .catch(error => {
          this.error_message = error.response.statusText
          this.error = true
        }
        )
    }
  }
}
</script>

<style>
button {
  margin-right: 10px;
}
</style>
