<template v-slot:cell(html)="data">
  <b-container v-if="loggedUser()" fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="error" @dismissed="error=false" :message="error_message" />
        <h1>Create post</h1>
        <b-form @submit="onSubmit" v-if="show">
          <b-form-group id="input-group-1" label="Title:" label-for="input-1">
            <b-form-input id="input-1" v-model="post.title" :value="post.title" required></b-form-input>
          </b-form-group>
          <!--<b-form-group id="input-group-2" label="Tags:" label-for="tags-separators">
              <b-form-tags
                input-id="tags-separators"
                v-model="post.tags"
                separator=",;"
                placeholder="{{ post.tags }}"
                no-add-on-enter
                class="mb-2"
              ></b-form-tags>
          </b-form-group>-->
          <b-form-group id="input-group-3" label="Body:" label-for="bodyPost">
            <ckeditor
              :editor="ckEditor"
              v-model="post.body"
              class="form-control"
              id="bodyPost"
              rows="6"
              :value="post.body"
            ></ckeditor>
          </b-form-group>
          <b-form-group id="input-group-4" label="Opções de publicação:" abel-for="statusPost">
            <b-form-select
              v-model="post.status"
              :options="options"
              size="sm"
              class="mt-3"
              id="statusPost"
            ></b-form-select>
          </b-form-group>
          <b-button type="submit" variant="primary" style="margin-right:10px;">Create</b-button>
          <b-button @click="cancel" variant="danger">Cancel</b-button>
        </b-form>
        <!-- END POST AREA -->
      </b-col>
      <b-col>
        <b-card :title="post.title" header-tag="header" footer-tag="footer">
          <template v-slot:header>
            <h6 class="mb-0">Pré-visualização</h6>
          </template>
          <b-card-text v-html="post.body" style="white-space: pre-line;"></b-card-text>
          <template v-slot:footer>
            <!--<small>
                <b>Marcadores:</b>
                  {{ (post.tags).join(", ") }}
            </small>-->
          </template>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
  <b-container v-else fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="true" :message="error_message" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'
import router from '../router'
import Error from '@/components/ErrorWarning'

export default {
  name: 'CreatePost',
  components: { Error },
  data () {
    return {
      ckEditor: ClassicEditor,
      post: {
        title: '',
        tags: [],
        body: '',
        status: ''
      },
      options: [{ value: null, text: 'Escolha uma opção', disabled: true }, { value: 'ED', text: 'Rascunho' }, { value: 'FI', text: 'Publicado' }],
      show: true,
      error: false,
      error_message: '',
      login: Boolean
    }
  },
  methods: {
    loggedUser () {
      if (window.localStorage.getItem('username')) {
        this.login = true
      } else {
        this.login = false
        this.error_message = 'Você não tem autorização de acesso à esta área'
      }
      return this.login
    },
    onSubmit (evt) {
      evt.preventDefault()
      this.$axios.post('/api/posts/', this.post)
        .then(function (response) {
          router.replace('posts')
        })
        .catch(({ response }) => {
          this.error_message = response.statusText
          this.error = true
        })
    },
    cancel () {
      router.replace('posts')
    }
  }
}
</script>
