<template v-slot:cell(html)="data">
  <b-container v-if="loggedUser()" fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="error" @dismissed="error=false" :message="error_message" />
        <b-card :title="post.title" header-tag="header" footer-tag="footer">
          <b-card-text v-html="post.body" style="white-space: pre-line;"></b-card-text>
          <template v-slot:footer>
            <b>Publicado por:</b>
            {{ post.author.fullname }}
          </template>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
  <b-container v-else fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="true" :message="error_message" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import router from '../router'
import Error from '@/components/ErrorWarning'

export default {
  name: 'EditPost',
  components: { Error },
  data () {
    return {
      post: {
        title: '',
        body: '',
        status: '',
        author: {
          fullname: ''
        }
      },
      error: false,
      error_message: '',
      login: Boolean
    }
  },
  async created () {
    await this.$axios.get('/api/posts/' + this.$route.params.id)
      .then(response => {
        if (response.data.status === 'FI') {
          this.post = response.data
        } else {
          router.replace('/edit/' + this.$route.params.id)
        }
      }).catch(({ response }) => {
        this.error_message = response.statusText
        this.error = true
      })
  },
  methods: {
    loggedUser () {
      if (window.localStorage.getItem('username')) {
        this.login = true
      } else {
        this.login = false
        this.error_message = 'Você não tem autorização de acesso à esta área'
      }
      return this.login
    }
  }
}
</script>

<style scoped>
.info-post {
  background: #eee;
  padding: 5px 15px;
  margin: 8px 0;
  font-style: italic;
  font-size: 0.9em;
}
.post-style {
  padding: 10px;
  font-size: 1em;
}
</style>
