<template v-slot:cell(html)="data">
  <b-container v-if="loggedUser()" fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="error" @dismissed="error=false" :message="error_message" />
        <b-card :title="user.profile.fullname" img-top tag="article" class="mb-2">
          <template v-slot:header>
            <b-button
              :to="`/users`"
              size="sm"
              class="options-button"
            >Back</b-button>
          </template>
          <b-card-text>
            <b-row no-gutters>
              <b-col md="1.9">
                <b-avatar size="8em" badge-variant="dark"></b-avatar>
              </b-col>
              <b-col style="margin-left:10px;">
                <span class="info">
                  <span class="info-title">ID:</span>
                  {{user.id}}
                </span>
                <span class="info">
                  <span class="info-title">Username:</span>
                  {{user.username}}
                </span>
                <span class="info">
                  <span class="info-title">Email:</span>
                  {{user.email}}
                </span>
                <span class="info">
                  <span class="info-title">Role:</span>
                  {{ user_role () }}
                </span>
                <span class="info">
                  <span class="info-title">Administrador:</span>
                  {{ is_admin() }}
                </span>
              </b-col>
            </b-row>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
  <b-container v-else fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="true" :message="error_message" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import Error from '@/components/ErrorWarning'

export default {
  name: 'ShowPost',
  components: { Error },
  data () {
    return {
      user: {
        id: null,
        username: '',
        email: '',
        profile: {
          is_admin: Boolean,
          is_staff: Boolean,
          full_name: String
        }
      },
      error: false,
      error_message: '',
      login: Boolean
    }
  },
  async created () {
    await this.$axios.get('/api/users/' + this.$route.params.id)
      .then(response => {
        this.user = response.data
        // console.log(this.user)
      }).catch(({ response }) => {
        this.error_message = response.statusText
        this.error = true
      })
  },
  methods: {
    is_admin () {
      if (this.user.profile.is_admin) {
        return 'Sim'
      } else {
        return 'Não'
      }
    },
    user_role () {
      if (this.user.profile.role === 'EDITOR') {
        return 'Editor'
      } else if (this.user.profile.role === 'AUTHOR') {
        return 'Autor'
      }
    },
    loggedUser () {
      if (window.localStorage.getItem('username')) {
        this.login = true
      } else {
        this.login = false
        this.error_message = 'Você não tem autorização de acesso à esta área'
      }
      return this.login
    }
  }
}
</script>

<style scoped>
.info {
  display: block !important;
}
.info-title {
  font-weight: bold;
}
</style>
