<template>
  <b-container v-if="loggedUser()" fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
      <Error :show="error" @dismissed="error=false" :message="error_message" :alert_type="variant" />
      <b-form @submit="onSubmit">
        <b-form-group id="input-group-1" label="Username:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="form.username"
            required
            placeholder="Insira um username"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Nome completo:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="form.profile.fullname"
            required
            placeholder="Insira o nome completo"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="E-mail:" label-for="input-3">
          <b-form-input
            id="input-3"
            v-model="form.email"
            type="email"
            required
            placeholder="Digite seu endereço de e-mail"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-4" label="Senha:" label-for="input-4">
          <b-form-input
            type="password"
            id="input-4"
            v-model="form.password"
            required
            placeholder="Insira uma senha"
          ></b-form-input>
        </b-form-group>
        <b-form-group id="input-group-5" label="Opções de usuário:" label-for="input-5">
          <b-form-select v-model="form.profile.role" :options="options" class="mt-3" id="input-5"></b-form-select>
        </b-form-group>
        <b-form-group id="input-group-6" label="Administrador:" label-for="input-6">
          <b-form-checkbox
            id="checkbox-1"
            v-model="form.profile.is_admin"
            name="checkbox-1"
            value=true
            unchecked-value=false
          >
          </b-form-checkbox>
        </b-form-group>
        <b-button type="submit" variant="primary">Cadastrar</b-button>
      </b-form>
      </b-col>
    </b-row>
  </b-container>
  <b-container v-else fluid="sm" class="bv-example-row">
    <b-row>
      <b-col>
        <Error :show="true" :message="error_message" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import router from '../router'
import Error from '@/components/ErrorWarning'

export default {
  components: { Error },
  data () {
    return {
      form: {
        email: '',
        username: '',
        password: '',
        profile: {
          fullname: '',
          is_admin: Boolean,
          role: ''
        }
      },
      options: [{ value: 'EDITOR', text: 'Editor' }, { value: 'AUTHOR', text: 'Autor' }],
      error: false,
      error_message: '',
      login: Boolean,
      variant: String
    }
  },
  methods: {
    loggedUser () {
      if (window.localStorage.getItem('username')) {
        this.login = true
      } else {
        this.login = false
        this.error_message = 'Você não tem autorização de acesso à esta área'
      }
      return this.login
    },
    onSubmit (evt) {
      evt.preventDefault()
      console.log(this.form)
      this.$axios.post('/api/users/', this.form)
        .then(async response => {
          this.warningMessage('Usuário cadastrado com sucesso', 'success')
          await this.sleep(800)
          router.replace('/users')
        })
        .catch(error => {
          this.warningMessage(error.response.statusText, 'danger')
        })
    },
    sleep (ms) {
      return new Promise(resolve => setTimeout(resolve, ms))
    },
    warningMessage (errorStatus, typeMessage) {
      this.error_message = errorStatus
      this.variant = typeMessage
      this.error = true
    }
  }
}
</script>
