<template>
  <b-alert v-model="localShow" @dismissed="$emit('dismissed',false)" :variant="alert_type" dismissible fade>{{ message }}</b-alert>
</template>

<script>
export default {
  name: 'Error',
  props: {
    message: {
      type: String,
      default: ''
    },
    alert_type: {
      type: String,
      default: 'danger'
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      localShow: this.show
    }
  },
  watch: {
    show () {
      this.localShow = this.show
    }
  }
}
</script>
